

<div class="d-flex container-xl m-4 ms-auto me-auto row justify-content-center"  style="height: calc(100vh - 128px)">
    <div class="p-0 col-12 d-flex align-items-xl-center justify-content-center">

      <div class="row  g-xs-5 d-flex justify-content-center align-items-center">

        <div class="col-xl-7 col-lg-7 col-md-8 col-sm-11 col-xs-8 d-flex  justify-content-center mb-2">
          <div class="bg-white me-auto ms-auto">
            <div class="display-1 homeTitle">#getHASH</div>
            <p class="description">A simplified hash generator and decoder</p>
            
            <div class="d-flex">
              <button class="btn btn-warning btn-lg me-4">
                <a class="btn-navlink" href="index.html#!/encode">generate hash</a>
              </button>
              <button class="btn btn-outline-warning btn-lg"><a class="btn-navlink2" href="index.html#!/decode">decode hash</a></button>
            </div>
            
          </div>
          
        </div>
        
        <div class="col-xl-5 col-lg-5 col-md-4 d-none d-sm-none d-md-block align-items-center justify-content-center d-flex align-items-center ms-auto me-auto">
          <img class="me-auto ms-auto encodeImg" src="content/lockkey.png" alt="keylock" />
        </div>
        
      </div>

    </div>
</div>
